<div >
    <div class="px-4 pt-2">
      <img class="object-fit w-16 block mx-auto" src="https://cdn-icons-png.flaticon.com/512/147/147140.png" alt="image">
      <span class="text-center text my-2 block">Houmame</span>
      <span class="block text-red-500 text-center">Admin</span>
    </div>
  <div class="mt-10 flex flex-col ">
    <button routerLink="/home" class="text-gray-400 flex items-center space-x-2 px-4 py-3 hover:bg-gray-100" routerLinkActive="text bg-gray-100">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button routerLink="/store" class="text-gray-400 flex items-center space-x-2 px-4 py-3 hover:bg-gray-100" routerLinkActive="text bg-gray-100">
      <mat-icon>shopping_bag</mat-icon>
      <span>Store</span>
    </button>
  </div>
</div>
